<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>account/btn_qq_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{321,686},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>account/btn_qq_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{125,828},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>account/shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{101,101}</string>
                <key>textureRect</key>
                <string>{{231,806},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_blue_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,74}</string>
                <key>spriteSourceSize</key>
                <string>{38,74}</string>
                <key>textureRect</key>
                <string>{{459,2},{38,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_blue_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,74}</string>
                <key>spriteSourceSize</key>
                <string>{38,74}</string>
                <key>textureRect</key>
                <string>{{455,180},{38,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gray_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{427,754},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gray_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{426,812},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_green_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{125,934},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_green_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{443,440},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_red_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{443,498},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_red_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{443,556},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>downloading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{427,686},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_bigbang_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,122}</string>
                <key>spriteSourceSize</key>
                <string>{121,122}</string>
                <key>textureRect</key>
                <string>{{198,434},{121,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_bigbang_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,122}</string>
                <key>spriteSourceSize</key>
                <string>{121,122}</string>
                <key>textureRect</key>
                <string>{{2,828},{121,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_pixel_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,122}</string>
                <key>spriteSourceSize</key>
                <string>{121,122}</string>
                <key>textureRect</key>
                <string>{{198,558},{121,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_pixel_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,122}</string>
                <key>spriteSourceSize</key>
                <string>{121,122}</string>
                <key>textureRect</key>
                <string>{{198,682},{121,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>note_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{183,934},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{334,792},{100,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>splash/account_bg_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,78}</string>
                <key>spriteSourceSize</key>
                <string>{102,78}</string>
                <key>textureRect</key>
                <string>{{231,909},{102,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash/account_bg_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,78}</string>
                <key>spriteSourceSize</key>
                <string>{102,78}</string>
                <key>textureRect</key>
                <string>{{335,894},{102,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>splash/avatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{443,614},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash/mode_bg_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{423,98},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash/mode_bg_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{415,894},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash/mode_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,46}</string>
                <key>spriteSourceSize</key>
                <string>{120,46}</string>
                <key>textureRect</key>
                <string>{{2,952},{120,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash/play_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,195}</string>
                <key>spriteSourceSize</key>
                <string>{194,195}</string>
                <key>textureRect</key>
                <string>{{2,434},{194,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash/play_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,195}</string>
                <key>spriteSourceSize</key>
                <string>{194,195}</string>
                <key>textureRect</key>
                <string>{{2,631},{194,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash/qq_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,121}</string>
                <key>spriteSourceSize</key>
                <string>{120,121}</string>
                <key>textureRect</key>
                <string>{{333,194},{120,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash/qq_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,121}</string>
                <key>spriteSourceSize</key>
                <string>{120,121}</string>
                <key>textureRect</key>
                <string>{{333,317},{120,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash/text_basic_cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,118}</string>
                <key>spriteSourceSize</key>
                <string>{296,118}</string>
                <key>textureRect</key>
                <string>{{2,194},{296,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash/text_basic_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,94}</string>
                <key>spriteSourceSize</key>
                <string>{455,94}</string>
                <key>textureRect</key>
                <string>{{2,98},{419,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash/text_senior_cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,118}</string>
                <key>spriteSourceSize</key>
                <string>{296,118}</string>
                <key>textureRect</key>
                <string>{{2,314},{296,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash/text_senior_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{455,94}</string>
                <key>spriteSourceSize</key>
                <string>{455,94}</string>
                <key>textureRect</key>
                <string>{{2,2},{455,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash/ttzproduct.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,31}</string>
                <key>spriteSourceSize</key>
                <string>{238,31}</string>
                <key>textureRect</key>
                <string>{{300,194},{238,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>splash/wechat_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,121}</string>
                <key>spriteSourceSize</key>
                <string>{120,121}</string>
                <key>textureRect</key>
                <string>{{321,440},{120,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>splash/wechat_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,121}</string>
                <key>spriteSourceSize</key>
                <string>{120,121}</string>
                <key>textureRect</key>
                <string>{{321,563},{120,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>splash.png</string>
            <key>size</key>
            <string>{505,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:636963e6f004e93fb203a6c5daade85e:391d3d6c2b5aa974521f451d5e589af6:e88831084ba66a6415eb454e198a8d2b$</string>
            <key>textureFileName</key>
            <string>splash.png</string>
        </dict>
    </dict>
</plist>
